<div class="filler-div">
  </div>
<h1>
  Career Highlights
</h1>
<ul>
  <li>Design & develope .NET Infrastructure library </li>
  <li>Experienced with Test Driven Development using NUnit and MS Test, Jasmin, Karma </li>
  <li>Develop backend services using ASP Net Api and Entity Framework </li>
  <li>Develop Help system using Confluence CMS </li>
  <li>Develop Oracle PL-SQL packages to synchronize several databases </li>
  <li>Develop SPA application using Angular, Kedo UI, Bootstrap, ASP.NET core and SQL Server </li>
  <li>Develop SPA application using Asp net Web Api, Angular, NHibernate </li>
</ul>
