.center {
  text-align: center;
}


.title-div {
  font-size: 5.0em;
  color: floralwhite;
}
.career-div{
  font-size: 3.0em;
  color: floralwhite;
}
.round-image{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  align-content: center;
}
.info-div{
  font-size: 1.2em;
  color: floralwhite;
}

.address-div{
  position: fixed;
  bottom: 5px;

  font-size: 1.70em;
  color: floralwhite;
}
