
<div class="center">
  <div class="title-div">
    Apreza Majma
  </div>>
  <div class="career-div">
    FULL STACK SOFTWARE DEVELOPER
  </div>
  <diV class="info-div">
      Microsoft certified<br/>
      Over 20 years working experience across multiple platforms<br/>
      Deep knowledge of TDD, UI testing, Agile software development principles<br/>
      Experience with wide array of development tools and programming languages<br/>
  </diV>
</div>>
<div class="center">
    <img class="round-image" src="../assets/alireza.jpg" alt="Apreza Majma">
</div>

<div class="address-div buttom">
    <p>254 Hopecrest road, Markham, ON L6C2H5</p>
    <p>Majma@Rogers.com (416) 578-7282</p>
</div>>
