<!-- Toolbar -->
<div class="toolbar-wrapper">
  <div class="toolbar " role="banner">
    <div >
      <a routerLink="/home" routerLinkActive="active">
        <img class="round-image"
          src="https://en.gravatar.com/userimage/96222366/d656050cfce55703ef2c8fa4f1b2088c.png" />
        <span>Home</span>
      </a>
    </div>

    <!-- <div class="spacer">
    </div>
    <div class="spacer">
    </div>

    <div class="spacer"></div> -->
    <!-- <div class="spacer"></div>
    <div class="spacer"></div> -->

    <div >
      <a routerLink="info/education-info" routerLinkActive="active">Education&nbsp;&&nbsp;Certificates</a>
    </div>

    <div >
      <a routerLink="info/career-highlight" routerLinkActive="active">Career&nbsp;Highlights</a>
    </div>

    <div >
      <a routerLink="info/experience-info" routerLinkActive="active">Profesional&nbsp;Experience</a>
    </div>

    <div >
      <a routerLink="info/technical-info" routerLinkActive="active">Technical&nbsp;Knowledge</a>
    </div>
  </div>
</div>

    <router-outlet></router-outlet>


