
.center {
  text-align: center;
}


.title-div {
  font-size: 5.0em;
  color: floralwhite;
  font-weight: bold;
}
.career-div{
  font-size: 3.0em;
  color: floralwhite;
  font-weight: bold;
}

.info-div{
  font-size: 1.5em;
  color: greenyellow;
}

.address-div{
  font-size: 1.5em;
  font-weight: bold;
  color: floralwhite;
}
nav {
  float: right;
  width: 100px;
  height: 500px; /* only for demonstration, should be removed */

  padding: 50px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;

}

nav a {
  line-height: 160%;
  font-size: 1.5em;
  color: bisque;
}

