
<div class="wrapper ">
<div class="filler-div">
</div>
<div class="center">
    <nav>
        <ul>
            <!-- (click)="linkClicked('info/tool-info')"  -->
          <li><a [routerLink]="['/','info','tool-info']" routerLinkActive="active">Tools</a></li>
          <li><a [routerLink]="['/','info','link-info']" routerLinkActive="active">Links</a></li>
          <li><a [routerLink]="['/','info','blog-info']" routerLinkActive="active">Blogs</a></li>

          <!-- <li><a routerLink="info/tool-info" routerLinkActive="active">Tools</a></li>
          <li><a routerLink="info/link-info" routerLinkActive="active">Links</a></li>
          <li><a routerLink="info/blog-info" routerLinkActive="active">Blogs</a></li> -->



        </ul>
      </nav>
  <div class="title-div">
    Alreza Majma
  </div>>
  <div class="career-div">
    FULL STACK SOFTWARE DEVELOPER
  </div>
  <diV class="info-div">
      Microsoft certified<br/>
      Over 20 years working experience across multiple platforms<br/>
      Deep knowledge of TDD, UI testing, Agile software development principles<br/>
      Experience with wide array of development tools and programming languages<br/>
  </diV>
</div>
<div class="filler-div">
  </div>
<!-- <div class="center">
    <img class="round-image" src="assets/alireza.jpg" alt="Alireza Majma">
</div> -->

<div class="address-div ">
    <p>254 Hopecrest road, Markham, ON L6C2H5</p>
    <p>Majma@Rogers.com (416) 578-7282</p>
</div>

</div>

