
.center {
  text-align: center;
}


.title-div {
  font-size: 5.0em;
  color: floralwhite;
  font-weight: bold;
}
.career-div{
  font-size: 3.0em;
  color: floralwhite;
  font-weight: bold;
}

.info-div{
  font-size: 1.5em;
  color: greenyellow;
}

.address-div{
  font-size: 1.5em;
  font-weight: bold;
  color: floralwhite;
}


