<h1>
  Profesional Experience
</h1>
<table>
  <tr>
    <th>Dapasoft, Toronto, ON </th>
    <th>June 2018 - Nov 2019</th>
  </tr>
  <tr>
    <td colSpan="2">
      <h3>Full Stack Software Developer</h3>
      <ul>
        <li>Design and develop FIT system using ASP MVC asynchronies programing techniques, Kendo UI, SQL Server, Entity
          Framework, and Azure DevOps to automate continuous software integration and delivery, using ID4 server to
          support authentication and authorization
        </li>
        <li>Design and develop OMDC Web Application using ASP NET CORE API, SQL Server, Entity Framework core as backend
          and Angular 7 and Kendo UI as front end. Develop Azure DevOps to automate continuous software delivery, secure
          application using Azure Identity, develop services to support emails, developed unit and integration tests
          using Jasmin and Karma, Created Stored Procedures, Triggers and Views and developed complex SQL queries
        </li>
        <li>Design and implement configurable dynamic form library for Angular to enable end-user to customize input
          forms
        </li>
        <li>Design and developed Nuget package for logging using Asp Net core
        </li>
      </ul>

    </td>
  </tr>
</table>
<div class="filler-div">
</div>
<table>
  <tr>
    <th>Brookfield Global Integrated Solutions, Toronto, ON </th>
    <th>Aug 2012 - June 2018</th>
  </tr>
  <tr>
    <td colSpan="2">
      <h3>Developer</h3>
      <ul>
        <li>Design and develop Integration system using Dell Boomi to transfer information Between PmWeb, RealSuite and
          Finance system
        </li>
        <li>Design and develop Transaction Manager System to extract information change and load in the Transaction
          database and periodically send XML report files to registered clients, using Oracle, C#, ASP.NET MVC,
          NHibernate, AngularJs
        </li>
        <li>Design and developed Cross Client Application to simulate how changes in the number of service provider and
          other parameter affect response time, using Oracle PL-SQL, C#, ASP.NET MVC
        </li>
        <li>Support and develop RealSuite legacy application using Oracle PL-SQL, VB6 COM, ASP, Xml Transformation,
          Html, CSS, JavaScript, and JQuery
        </li>
        <li>Develop a multi lingual RealSuite Help system to provide instruction to end users. Using Confluence to
          enable users to edit and contribute in developing help pages
        </li>
        <li>Develop RealSuite Installer Using Windows Installer XML, C#, MS Build
        </li>
        <li>Develop a Task Service project to process tasks, by calling several threads simultaneously, using Asp Web
          API, Oracle, and Windows Task scheduler
        </li>
        <li>Enhanced Visual Studio project to support a multiple framework
        </li>
      </ul>
    </td>
  </tr>
</table>
<div class="filler-div">
</div>
<table>
  <tr>
    <th>Citizenship and Immigration Canada (CIC), Toronto, ON </th>
    <th> May 2010 - Aug 2012</th>
  </tr>
  <tr>
    <td colSpan="2">
      <h3>Web Developer</h3>
      <ul>
        <li>Developed Settlement system with VB.NET, ASP.Net, CSLA.NET and SQL Server, DevExpress, HTML, CSS, JavaScript
          and JQuery
        </li>
        <li>Developed Resettlement Assistance Program with Excel and VBA
        </li>
        <li>Developed Case Tracking System with ASP.Net, CSLA.NET and SQL Server ASP.Net, DevExpress
        </li>
        <li>Developed ETL Application to extract and transfer information from a legacy system and load into .NET
          applications using SQL Server Integration Services
        </li>
        <li>Developed UI Test program using Selenium
        </li>

      </ul>
    </td>
  </tr>
</table>
<div class="filler-div">
</div>
<table>
  <tr>
    <th>Merco Industries Limited. (Aerospace Industry), Toronto, ON </th>
    <th>Sep 2004 - May 2010</th>
  </tr>
  <tr>
    <td colSpan="2">
      <h3>Developer</h3>
      <ul>
        <li>Developed reports to search for a tool for specific machinery task based on user criteria using VB6 and MS
          ACCESS
        </li>

      </ul>
    </td>
  </tr>
</table>
