:host {

  /* background-color: blueviolet; */

  display: grid;
  place-items: center;
  color: white;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  background-color: dimgray;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td a {
  color: antiquewhite;
}

th {
  background-color: darkslategray;
  font-size: 1.3em;
  width: 200px;
}

tr:nth-child(even) {
  background-color: gray;
}
