<h1>
  Technical Knowledge
</h1>

<table>
  <tr>
    <th>Knowledge or skill</th>
    <th>Experience</th>
  </tr>
  <tr>
    <td>Microsoft SQL Server</td>
    <td>10 years</td>
  </tr>
  <tr>
    <td>Kendo UI</td>
    <td>3 years</td>
  </tr>
  <tr>
    <td>JavaScript</td>
    <td>10 years</td>
  <tr>
    <td>Oracle </td>
    <td>5 years</td>
  </tr>
  <tr>
    <td>C#.NET, VB.NET</td>
    <td>12 years</td>
  </tr>
  <tr>
    <td>.NET Core </td>
    <td>2 years</td>
  <tr>
    <td>NHibernate, Entity framework</td>
    <td>5 years</td>
  </tr>
  <tr>
    <td>ASP Forms</td>
    <td>8 years</td>
  </tr>
  <tr>
    <td>Angular, AngularJs</td>
    <td>7 years</td>
  </tr>
  <tr>
    <td>Business Intelligent</td>
    <td>5 Years</td>
  </tr>
  <tr>
    <td>ASP MVC, API </td>
    <td>10 years </td>
  </tr>
  <tr>
    <td>Dell Boomi</td>
    <td>1 years</td>
  </tr>
  <tr>
    <td>Share Point </td>
    <td>1 years</td>
  <tr>
    <td>RESTFULL & OData </td>
    <td>8 years</td>
  <tr>
    <td>Bootstrap </td>
    <td>7 years </td>
  </tr>
  <tr>
    <td>SQL Integration Services </td>
    <td>1 years </td>
  </tr>
  <tr>
    <td>Selenium </td>
    <td>1 years </td>
  </tr>
  <tr>
    <td>Azure DevOps </td>
    <td>1 years </td>
  </tr>
  <tr>
    <td>SQL Report Server </td>
    <td>1 years </td>
  </tr>
  <tr>
    <td>Delphi</td>
    <td> 5 years </td>
  </tr>
  <tr>
    <td>HTML, CSS </td>
    <td>10 years </td>
  </tr>
  <tr>
    <td>Microsoft Access, VBA </td>
    <td>1 years </td>
  </tr>
  <tr>
    <td>Power Shell</td>
    <td> 1 years </td>
  </tr>
  <tr>
    <td>Confluence Atlassian </td>
    <td> 1 year </td>
  </tr>
</table>
